@{
    ViewBag.Title = "MLM Homepage";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<body class="bgcolor">
    <!-- Nav Bar with Responsive -->
    <header>
        <div class="container-fluid">
            <div class="navb-name">
                MLM Service Monitoring System
            </div>

            <div class="navb-items d-none d-xl-flex">
                <div class="menu-item">
                    <a href="@Url.Action("Index","Home")" class="navbar active">Home</a>
                </div>

                <div class="menu-item">
                    <a href="@Url.Action("Users","Home")" class="navbar">Users</a>
                </div>

                <div class="item-button">
                    <a href="@Url.Action("Logout","Home")" type="button">Logout</a>
                </div>
            </div>

            <!-- Button trigger modal (Responsive) -->
            <div class="mobile-toggler d-lg-none">
                <a href="#" data-bs-toggle="modal" data-bs-target="#navbModal">
                    <i class="bi bi-list"></i>
                </a>
            </div>

            <!-- Modal (Responsive) -->
            <div class="modal fade" style="width: 500px;" id="navbModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="title">MLM Service Monitoring System</div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                        </div>

                        <div class="modal-body">
                            <div class="modal-line">
                                <a href="@Url.Action("Index","Home")" class="btn btn-primary"><i class="bi bi-house"></i>Home</a>
                            </div>

                            <div class="modal-line">
                                <a href="@Url.Action("Users","Home")" class="btn btn-primary"><i class="bi bi-bell"></i>Users</a>
                            </div>

                            <a href="@Url.Action("Logout","Home")" class="navb-button" type="button">Logout</a>
                        </div>

                        <div class="mobile-modal-footer">
                            <a target="_blank" href="#"><i class="bi bi-instagram"></i></a>
                            <a target="_blank" href="#"><i class="bi bi-linkedin"></i></a>
                            <a target="_blank" href="#"><i class="bi bi-youtube"></i></a>
                            <a target="_blank" href="#"><i class="bi bi-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Dropdown menu in selecting no. of rows for Log History Table -->
    <div id="logHistory-modal" class="modal">
        <div class="modal-servicelogs">
            <span class="close">&times;</span>
            <div class="service_title">Log History</div>
            <div class="service_name mb-2 fst-italic"></div>

            <table class="table" id="popupTable">
                <thead>
                    <tr class="border-4 border-dark">
                        <th scope="col" style="width: 25%;">LAST START</th>
                        <th scope="col" style="width: 20%;">LAST LOG</th>
                        <th scope="col">STATUS</th>
                        <th scope="col" style="width: 25%;">HOST NAME</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- table content goes here -->
                </tbody>
            </table>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="select-menu">
                            <div class="select-btn1">
                                <span class="sBtn-text">Select row</span>
                                <i class="bi bi-arrow-down-short"></i>
                            </div>

                            <ul class="options">
                                <li class="option">
                                    <span class="option-text">10 rows</span>
                                </li>
                                <li class="option">
                                    <span class="option-text">20 rows</span>
                                </li>
                                <li class="option">
                                    <span class="option-text">30 rows</span>
                                </li>
                                <li class="option">
                                    <span class="option-text">40 rows</span>
                                </li>
                                <li class="option">
                                    <span class="option-text">All rows</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="hint-logText">Page <b id="current-logPage"></b> out of <b id="total-logPages"></b></div>
                    </div>
                    <div class="col-md-5">
                        <div class="pagination paginationLogs">
                            <ul>
                                <!--pages or li are comes from javascript -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Adding Service with Checkbox Modal -->
    <div class="modal fade" id="displayService-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Add Services</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-left">
                        <form onsubmit="event.preventDefault();" class="d-flex align-items-center mb-0">
                            <div class="form-group m-3" style="width: 100%;">
                                <input type="text" name="ServiceName" class="form-control search-box" autocomplete="off" placeholder="Search" />
                            </div>
                        </form>
                    </div>
                    <div class="list-group">
                        <div id="serviceCheckboxes"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary custom-button" id="btnAddService" onclick="submitForm()" data-bs-dismiss="modal">Add</button>
                    <button type="button" class="btn btn-primary custom-button" id="btnCancelService" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Service Table Modal -->
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2><b>List of Services</b></h2>
                        </div>
                        <div class="col-sm-6 button-container">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#displayService-modal"><i class="bi bi-plus-circle"></i><span>Add Services</span></button>
                            <button type="button" class="btn btn-success"><i class="bi bi-arrow-clockwise" onclick="RealTimeTable();"></i><span>Refresh List</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-hover" id="serviceTable">
            <thead>
                <tr>
                    <th scope="col" style="width: 15%;">SERVICE NAME</th>
                    <th scope="col" style="width: 15%;">LAST START</th>
                    <th scope="col" style="width: 12%;">LAST LOG</th>
                    <th scope="col" style="width: 12%;">SERVICE STATUS</th>
                    <th scope="col" style="width: 15%;">ACTION BY</th>
                    <th scope="col" style="width: 15%;">ACTION</th>
                </tr>
            </thead>
            <tbody>
                <!-- table content goes here -->
            </tbody>
        </table>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="serviceRow">
                        <div class="btnRow">
                            <span class="sBtnRow">Select row</span>
                            <i class="bi bi-arrow-down-short"></i>
                        </div>

                        <ul class="optionsRow">
                            <li class="optionRow">
                                <span class="optionRow-text">5 rows</span>
                            </li>
                            <li class="optionRow">
                                <span class="optionRow-text">10 rows</span>
                            </li>
                            <li class="optionRow">
                                <span class="optionRow-text">15 rows</span>
                            </li>
                            <li class="optionRow">
                                <span class="optionRow-text">20 rows</span>
                            </li>
                            <li class="optionRow">
                                <span class="optionRow-text">All rows</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="hint-text">Page <b id="current-page"></b> out of <b id="total-pages"></b></div>
                </div>
                <div class="col-md-5">
                    <div class="pagination paginationService">
                        <ul>
                            <!--pages or li are comes from javascript -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Toast Design for any ACTION-->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
            </div>
        </div>
    </div>


    <!-- Alert Box for all buttons in Action column -->
    <div id="alert-modal" class="modal">
        <div class="modal-content">
            <div id="modal-title">System Message</div>
            <div id="modal-message"></div>
            <div class="modal-buttons">
                <button type="button" id="btnYes" name="Yes" onclick="btnYes_Click" class="alert-buttons">Yes</button>
                <button type="button" id="btnNo" name="No" onclick="btnNo_Click" class="alert-buttons">No</button>
            </div>
        </div>
    </div>


    <script src="~/JS_Scripts/index/restart_delete_modal.js"></script>
    <script src="~/JS_Scripts/index/dropdown_logHistory_serviceTable.js"></script>
    <script src="~/JS_Scripts/index/navBar_active.js"></script>
    <script src="~/JS_Scripts/index/add_remove_service.js"></script>
    <script src="~/JS_Scripts/index/pagination_logHistory.js"></script>
    <script src="~/JS_Scripts/index/pagination_serviceTable.js"></script>
    <script src="~/JS_Scripts/index/serviceTable_logHistory.js"></script>
    <script src="~/JS_Scripts/index/checkboxFunction.js"></script>
    <script src="~/JS_Scripts/index/clearField_submitForm.js"></script>

</body>

<!-- Pagination for Service Table -->
<script>
    var indexPage = 1;
    let pagination = document.querySelector('.paginationService ul');

    function generatePageNumbers() {
        pagination.innerHTML = '';
        for (let i = indexPage; i < indexPage + 5; i++) {
            pagination.innerHTML += `<li class="page-item"><a class="page-link" data-page="${i}">${i}</a></li>`;
        }
        pagination.innerHTML += `<li class="page-item" id="next-link"><a class="page-link">Next</a></li>`;

        if (indexPage > 1) {
            pagination.innerHTML = `<li class="page-item" id="previous-link"><a class="page-link">Previous</a></li>` + pagination.innerHTML;
        }

        // Event listener for "Next" link
        document.getElementById("next-link").addEventListener("click", function () {
            indexPage = indexPage + 1; // Set current page to next page number
            showPage(indexPage);
            document.getElementById('current-page').textContent = indexPage;
            document.getElementById('total-pages').textContent = indexPage + 4;
            generatePageNumbers(); // Generate new page numbers
        });

        // Event listener for "Previous" link
        document.getElementById("previous-link").addEventListener("click", function () {
            if (indexPage > 1) { // Check if current page is greater than 1
                indexPage = indexPage - 1;
                showPage(indexPage);
                document.getElementById('current-page').textContent = indexPage;
                document.getElementById('total-pages').textContent = indexPage + 4;
                generatePageNumbers(); // Generate new page numbers
            }
        });
    }
    let page = 1;
    $('.paginationService ul').on('click', '.page-link', function () {
        let page = parseInt($(this).data('page'));
        document.getElementById('current-page').textContent = page;
        indexPage = page;
        document.getElementById('total-pages').textContent = indexPage + 4;
        showPage(page);
    });

    document.getElementById('current-page').textContent = page;
    document.getElementById('total-pages').textContent = indexPage + 4;
    generatePageNumbers();

</script>

<!-- Pagination for Log History Table -->
<script>
    var indexLogPage = 1;
    let paginationLog = document.querySelector('.paginationLogs ul');

    function generateLogPageNumbers() {
        paginationLog.innerHTML = '';
        for (let i = indexLogPage; i < indexLogPage + 5; i++) {
            paginationLog.innerHTML += `<li class="page-item"><a class="page-link" data-page="${i}">${i}</a></li>`;
        }
        paginationLog.innerHTML += `<li class="page-item" id="next-link"><a class="page-link">Next</a></li>`;

        if (indexLogPage > 1) {
            paginationLog.innerHTML = `<li class="page-item" id="previous-link"><a class="page-link">Previous</a></li>` + paginationLog.innerHTML;
        }

        // Event listener for "Next" link
        document.getElementById("next-link").addEventListener("click", function () {
            indexLogPage = indexLogPage + 1; // Set current page to next page number
            logsshowPage(indexLogPage);
            document.getElementById('current-logPage').textContent = indexLogPage;
            document.getElementById('total-logPages').textContent = indexLogPage + 4;
            generateLogPageNumbers(); // Generate new page numbers
        });

        // Event listener for "Previous" link
        document.getElementById("previous-link").addEventListener("click", function () {
            if (indexLogPage > 1) { // Check if current page is greater than 1
                indexLogPage = indexLogPage - 1;
                logsshowPage(indexLogPage);
                document.getElementById('current-logPage').textContent = indexLogPage;
                document.getElementById('total-logPages').textContent = indexLogPage + 4;
                generateLogPageNumbers(); // Generate new page numbers
            }
        });
    }
    let logPage = 1;
    $('.paginationLogs ul').on('click', '.page-link', function () {
        let logPage = parseInt($(this).data('logPage'));
        document.getElementById('current-logPage').textContent = logPage;
        indexLogPage = logPage;
        document.getElementById('total-logPages').textContent = indexLogPage + 4;
        logsshowPage(logPage);
    });

    document.getElementById('current-logPage').textContent = logPage;
    document.getElementById('total-logPages').textContent = indexLogPage + 4;
    generateLogPageNumbers();

</script>



