@model LoginAndRegisterASPMVC5.Models.UserLogin
@{
    ViewBag.Title = "MLM Login";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<body class="gradient-page">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="container-fluid" style="width: 80%;">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-8 mx-auto">
                    <div class="card p-3 rounded-3 w-100">
                        <div class="card-body">
                            <div class="text-center">
                                <h1 class="display-4">MLM</h1>
                                <h4 class="fw-light">Service Monitoring System</h4>
                                <hr />
                                <h2 class="fw-normal">Sign in</h2>
                            </div>
                            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group mb-2">
                                    @Html.LabelFor(m => m.Email, new { @class = "form-label mb-2" })
                                    @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control my-1", @placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "badge badge-danger" })
                                </div>
                                <div class="form-group mb-4 position-relative">
                                    @Html.LabelFor(m => m.Password, new { @class = "form-label my-2" })
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control my-1", @placeholder = "Password", id = "password" })
                                    <span toggle="#password" class="bi bi-eye-slash-fill mt-1 field-icon toggle-password"></span>
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" name="submit" class="btn btn-secondary" value="Login">Login</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
        </div>
    </div>
</div>

<!-- Show/Hide Password with eye icon -->
<script>
    $(".toggle-password").click(function () {
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
            $(this).removeClass("bi-eye-slash-fill").addClass("bi-eye-fill");
        } else {
            input.attr("type", "password");
            $(this).removeClass("bi-eye-fill").addClass("bi-eye-slash-fill");
        }
    });
</script>



