@model LoginAndRegisterASPMVC5.Models.User
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<body class="bgcolor">
    <!-- Nav Bar with Responsive -->
    <header>
        <div class="container-fluid">
            <div class="navb-name">
                MLM Service Monitoring System
            </div>

            <div class="navb-items d-none d-xl-flex">
                <div class="menu-item">
                    <a href="@Url.Action("Index","Home")" class="navbar">Home</a>
                </div>

                <div class="menu-item">
                    <a href="@Url.Action("Users","Home")" class="navbar active">Users</a>
                </div>

                <div class="item-button">
                    <a href="@Url.Action("Logout","Home")" type="button">Logout</a>
                </div>
            </div>

            <!-- Button trigger modal (Responsive) -->
            <div class="mobile-toggler d-lg-none">
                <a href="#" data-bs-toggle="modal" data-bs-target="#navbModal">
                    <i class="bi bi-list"></i>
                </a>
            </div>

            <!-- Modal (Responsive) -->
            <div class="modal fade" style="width: 500px;" id="navbModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="title">MLM Service Monitoring System</div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                        </div>

                        <div class="modal-body">
                            <div class="modal-line">
                                <a href="@Url.Action("Index","Home")" class="btn btn-primary"><i class="bi bi-house"></i> Home</a>
                            </div>

                            <div class="modal-line">
                                <a href="@Url.Action("Users","Home")" class="btn btn-primary"><i class="bi bi-bell"></i>Users</a>
                            </div>

                            <a href="@Url.Action("Logout","Home")" class="navb-button" type="button">Logout</a>
                        </div>

                        <div class="mobile-modal-footer">
                            <a target="_blank" href="#"><i class="bi bi-instagram"></i></a>
                            <a target="_blank" href="#"><i class="bi bi-linkedin"></i></a>
                            <a target="_blank" href="#"><i class="bi bi-youtube"></i></a>
                            <a target="_blank" href="#"><i class="bi bi-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Users Table -->
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2><b>List of Users</b></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover" id="usersTable">
        <thead>
            <tr>
                <th scope="col" style="width: 10%;">USER ID</th>
                <th scope="col" style="width: 15%;">FIRST NAME</th>
                <th scope="col" style="width: 15%;">LAST NAME</th>
                <th scope="col" style="width: 10%;">EMAIL ADDRESS</th>
                <th scope="col" style="width: 10%;">USERS ROLE</th>
                <th scope="col" style="width: 15%;">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <!-- table content goes here -->
        </tbody>
    </table>
    <div class="clearfix">
        <ul class="pagination">
            <li class="page-item disabled"><a href="#">Previous</a></li>
            <li class="page-item active"><a href="#" class="page-link">1</a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">4</a></li>
            <li class="page-item"><a href="#" class="page-link">5</a></li>
            <li class="page-item"><a href="#" class="page-link">Next</a></li>
        </ul>
    </div>

    <!-- Show Modal -->
    <script>
        var myModal = new bootstrap.Modal(document.getElementById('signup-modal'));
        myModal.show();
    </script>

    <!-- Tooltip, Refresh Table, Show Password, etc -->
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        $(document).ready(function () {
            RealTimeUsersTB();
        });

        function setNotification(idUser) {
            $.ajax({
                type: 'POST',
                url: '/Home/UpdateEmailNotification',
                data: { idUser: idUser },
                success: function () {
                    RealTimeUsersTB();
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }

        function RealTimeUsersTB() {
            /*Refresh the table with the updated data*/
            $.ajax({
                url: "/Home/RealTimeUsersTB",
                type: "GET",
                dataType: 'json',
                success: function (result) {
                    $("#usersTable tbody").empty();
                    // Loop through the data and append each row to the table
                    result.forEach(function (Data) {
                        const Role = (Data.IsAdmin === true) ? '<span>Admin</span>' : '<span>Non-Admin</span>';

                        var row = "<tr data-toggle='modal' data-target='#service-modal'>";
                        row += "<td>" + Data.idUser + "</td>";
                        row += "<td>" + Data.FirstName + "</td>";
                        row += "<td>" + Data.LastName + "</td>";
                        row += "<td>" + Data.Email + "</td>";
                        row += "<td>" + Role + "</td>";
                        row += "<td>";
                        if (Data.Email_Notification == true) {
                            row += "<button onclick='setNotification(\"" + Data.idUser + "\")' class='user-button btn-green' id='btnSet' data-bs-toggle='tooltip' data-bs-placement='top' title='Set Email On'>";
                            row += "<i class='bi bi-envelope-check-fill'></i>";
                            row += "</button>";
                        } else {
                            row += "<button onclick='setNotification(\"" + Data.idUser + "\")' class='user-button btn-red' id='btnSet' data-bs-toggle='tooltip' data-bs-placement='top' title='Set Email Off'>";
                            row += "<i class='bi bi-envelope-x-fill'></i>";
                            row += "</button>";
                        }
                        row += "</td></tr>";
                        $("#usersTable tbody").append(row);
                    });
                },
                error: function () {
                    alert("Failed to refresh users.");
                }
            });
        }

        const togglePassword = document.getElementById("togglePassword");
        const password = document.getElementById("password");

        togglePassword.addEventListener("change", function () {
            if (togglePassword.checked) {
                password.type = "text";
            } else {
                password.type = "password";
            }
        });

    </script>

</body>


