<!--@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<head>
    <style>
        #service-modal {
            display: none;
            / Hidden by default / position: fixed;
            / Stay in place / z-index: 1;
            / Sit on top / left: 0;
            top: 0;
            width: 100%;
            / Full width / height: 100%;
            / Full height / overflow: auto;
            / Enable scroll if needed / background-color: rgba(0,0,0,0.4);
            / Black w/ opacity /
        }

        / Modal Content/Box /
        #popupTable {
            background-color: #fefefe;
            margin: 10% auto;
            / 10% from the top and centered / padding: 20px;
            border: 1px solid #888;
            width: 80%;
            / Could be more or less, depending on screen size /
        }

        / Close Button /
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body class="bgcolor">
    <header>
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">
                <h1>MLM Service Monitoring System</h1>
            </a>
        </div>
        <nav>
            <ul class="nav_links">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Service", "Home")" style="color:#0088a9;">Services</a></li>
                <li><a href="@Url.Action("Settings", "Home")">Settings</a></li>
            </ul>
        </nav>
        <button type="button" name="Profile" class="profile-button" value="Profile">Profile</button>
    </header>

    @using (Html.BeginForm("AddService", "Home", FormMethod.Post))
    {
        <div class="form-group">
            <label class="control-label">Service Name:</label>
            @Html.TextBox("ServiceName", null, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-primary">Add Service</button>
    }
    <button>
        @Html.ActionLink("Refresh", "Refresh", null, new { @class = "btn btn-primary" })
    </button>


    <table class="table" id="serviceTable">
        <thead>
            <tr class="firstRow">
                <th style="width:20%;">SERVICE NAME</th>
                <th style="width:15%;">LAST START</th>
                <th style="width:35%;">LAST LOG</th>
                <th style="width:15%;">STATUS</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Data in Model)
            {
                <tr>
                    <td>@Data.ServiceName</td>
                    <td>@Data.LastStart</td>
                    <td>@Data.ServiceStatus</td>
                    <td>@Data.LastLog</td>
                    <td>
                        <button onclick="getServices('@Data.ServiceName')">View Logs</button>
                        <button onclick="deleteServices('@Data.ServiceName')">Delete</button>
                        <button onclick="manageServices('@Data.ServiceName', 'start')">Run</button>
                        <button onclick="manageServices('@Data.ServiceName', 'stop')">Stop</button>
                        <button onclick="manageServices('@Data.ServiceName', 'restart')">Restart</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div id="service-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <table class="table" id="popupTable">
                <thead>
                    <tr class="firstRow">
                        <th>Service Name</th>
                        <th>Last Start</th>
                        <th>Service Status</th>
                        <th>Last Log</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <script>
        function getServices(serviceName) {
            $.ajax({
                url: "/Home/GetAllRecords",
                type: "POST",
                data: { serviceName: serviceName },
                success: function (data) {
                    // Get the table body element
                    var tbody = $('#popupTable tbody');

                    // Clear any existing rows from the table
                    tbody.empty();

                    // Loop through the data and add a new row to the table for each record
                    data.forEach(function (service) {
                        var tr = $('<tr>');
                        tr.append('<td>' + service.ServiceName + '</td>');
                        tr.append('<td>' + service.LastStart + '</td>');
                        tr.append('<td>' + service.ServiceStatus + '</td>');
                        tr.append('<td>' + service.LastLog + '</td>');
                        tbody.append(tr);
                    });

                    // Show the popup dialog
                    $('#service-modal').css('display', 'block');

                    // Set up the close button to hide the dialog when clicked
                    $('.close').click(function () {
                        $('#service-modal').css('display', 'none');
                    });
                },
                error: function () {
                    alert("Failed to retrieve records for " + serviceName);
                }
            });
        }

        function deleteServices(serviceName) {
            $.ajax({
                url: "/Home/DeleteServices",
                type: "POST",
                data: { serviceName: serviceName },
                success: function () {
                    location.reload();
                },
                error: function () {
                    alert("Failed to delete " + serviceName);
                }
            });
        }

        function manageServices(serviceName, command) {
            $.ajax({
                url: '/Home/ManageServices',
                type: 'POST',
                data: { serviceName: serviceName, command: command },
                success: function () {
                    setTimeout(function () {
                        $.ajax({
                            url: "/Home/Refresh",
                            type: "GET",
                            success: function () {
                                location.reload();
                            },
                            error: function () {
                                alert("Failed to refresh services.");
                            }
                        });
                    }, 5000); // 2 second delay before refreshing
                },
                error: function () {
                    alert('Failed to ' + command + ' ' + serviceName);
                }
            });
        }
    </script>-->

    @*Alert Box for Restart Button*@
    <!--<div id="myModal" class="modal">
        <div class="modal-content">
            <div id="modal-title">System Message</div>
            <div id="modal-message">Are you sure you want to RESTART 'Service1'?</div>
            <div class="modal-buttons">
                <button type="button" id="btnYes" name="Yes" onclick="btnYes_Click" class="alert-buttons">Yes</button>
                <button type="button" id="btnNo" name="No" onclick="btnNo_Click" class="alert-buttons">No</button>
            </div>
        </div>
    </div>-->

    @*Alert Box for Delete Button*@
    <!--<div id="deleteModal" class="modal">
        <div class="modal-content">
            <div id="modal-title1">System Message</div>
            <div id="modal-message1">Are you sure you want to Delete 'Service1'?</div>
            <div class="modal-buttons">
                <button type="button" id="btnDel" name="Yes" onclick="btnDel_Click" class="alert-buttons">Delete</button>
                <button type="button" id="btnCancel" name="No" onclick="btnCancel_Click" class="alert-buttons">Cancel</button>
            </div>
        </div>
    </div>

</body>

<script>
    // Action Button
    const run = document.getElementById('btnRun');
    const stop = document.getElementById('btnStop');
    const restart = document.getElementById('btnRestart');
    const del = document.getElementById('btnDelete');
    ;
    const status = document.getElementById("lblStatus");

    function updateDateTime() {
        const date = new Date();
        const dateTimeElement = document.getElementById("lblDateTime");
        dateTimeElement.innerHTML = date.toLocaleDateString() + " " + date.toLocaleTimeString();
    }

    run.addEventListener('click', () => {
        stop.style.display = "inline-block";
        restart.style.display = "inline-block";
        run.style.display = "none";
        del.style.display = "none";

        status.innerHTML = "Running";
        status.style.color = "green";
    });

    stop.addEventListener('click', () => {
        stop.style.display = "none";
        restart.style.display = "none";
        run.style.display = "inline-block";
        del.style.display = "inline-block";

        status.innerHTML = "Stopped";
        status.style.color = "red";
    });

    restart.addEventListener('click', () => {
        stop.style.display = "inline-block";
        restart.style.display = "inline-block";
        run.style.display = "none";
        del.style.display = "none";

        status.innerHTML = "Running";
        status.style.color = "green";
    });

    // Show Alert Button when the restart button clicked and hide it.
    function showModal(title, message) {
        var modal = document.getElementById('myModal');
        var modalTitle = document.getElementById('modal-title');
        var modalMessage = document.getElementById('modal-message');

        modal.style.display = "block";
        modalTitle.textContent = title;
        modalMessage.textContent = message;
    }

    function hideModal() {
        var modal = document.getElementById('myModal');
        modal.style.display = "none";
    }
    // Select the Yes and No buttons
    var btnYes = document.getElementById('btnYes');
    var btnNo = document.getElementById('btnNo');

    // Add event listeners to the buttons
    btnYes.addEventListener('click', btnYes_Click);
    btnNo.addEventListener('click', btnNo_Click);

    function btnYes_Click() {
        updateDateTime();
        hideModal();
    }

    function btnNo_Click() {
        hideModal();
    }

    // Show Alert Button when the delete button clicked and hide it.
    function showdeleteModal(title, message) {
        var modal = document.getElementById('deleteModal');
        var modalTitle = document.getElementById('modal-title1');
        var modalMessage = document.getElementById('modal-message1');

        modal.style.display = "block";
        modalTitle.textContent = title;
        modalMessage.textContent = message;
    }

    function hidedeleteModal() {
        var modal = document.getElementById('deleteModal');
        modal.style.display = "none";
    }
    // Select the Yes and No buttons
    var btnDe = document.getElementById('btnDel');
    var btnCancel = document.getElementById('btnCancel');

    // Add event listeners to the buttons
    btnDe.addEventListener('click', btnDel_Click);
    btnCancel.addEventListener('click', btnCancel_Click);

    function btnDel_Click() {
        hidedeleteModal();
    }

    function btnCancel_Click() {
        hidedeleteModal();
    }

</script>-->