
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<body class="bgcolor">
    <header>
        <div class="container-fluid">
            <div class="navb-name">
                MLM Service Monitoring System
            </div>

            <div class="navb-items d-none d-xl-flex">
                <div class="item">
                    <a href="@Url.Action("Index","Home")" class="navbar ">Home</a>
                </div>

                <div class="item">
                    <a href="@Url.Action("Users","Home")" class="navbar active">Users</a>
                </div>

                <div class="item-button">
                    <a href="@Url.Action("Logout","Home")" type="button">Logout</a>
                </div>
            </div>

            <!-- Button trigger modal (Responsive) -->
            <div class="mobile-toggler d-lg-none">
                <a href="#" data-bs-toggle="modal" data-bs-target="#navbModal">
                    <i class="bi bi-list"></i>
                </a>
            </div>

            <!-- Modal (Responsive) -->
            <div class="modal fade" style="width: 500px;" id="navbModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="title">MLM Service Monitoring System</div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                        </div>

                        <div class="modal-body">
                            <div class="modal-line">
                                <i class="bi bi-house"></i><a href="@Url.Action("Index","Home")">Home</a>
                            </div>

                            <div class="modal-line">
                                <i class="bi bi-bell"></i><a href="@Url.Action("Users","Home")">Users</a>
                            </div>

                            <a href="@Url.Action("Logout","Home")" class="navb-button" type="button">Logout</a>
                        </div>

                        <div class="mobile-modal-footer">
                            <a target="_blank" href="#"><i class="bi bi-instagram"></i></a>
                            <a target="_blank" href="#"><i class="bi bi-linkedin"></i></a>
                            <a target="_blank" href="#"><i class="bi bi-youtube"></i></a>
                            <a target="_blank" href="#"><i class="bi bi-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="fs-1 fw-bold text-center my-4">List of Users</div>

    <div class="users">
        <table class="table table-hover mt-5" id="usersTable">
            <thead>
                <tr>
                    <th scope="col">UserID</th>
                    <th scope="col">FIRST NAME</th>
                    <th scope="col">LAST NAME</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">ACTION</th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var Data in Model)
                {
                    <tr data-toggle="modal" data-target="#service-modal">
                        <td>@Data.idUser</td>
                        <td>@Data.FirstName</td>
                        <td>@Data.LastName</td>
                        <td>@Data.Email</td>
                        <td>@Data.Email_Notification</td>
                        <td>
                            <button onclick="setNotification('@Data.idUser')" class="user-button" id="btnSet"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Set Email">
                                <i class="bi bi-envelope-check-fill"></i>
                            </button>
                            <button class="user-button" id="btnSet"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                <i class="bi bi-trash3-fill"></i>
                            </button>
                        </td>
                    </tr>
                }*@
                </tbody>
        </table>
    </div>

    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        $(document).ready(function () {
            refreshtable()
        });

        function setNotification(idUser) {
            $.ajax({
                type: 'POST',
                url: '/Home/UpdateEmailNotification',
                data: { idUser: idUser },
                success: function () {
                    refreshtable();
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }

        function refreshtable() {
            /*Refresh the table with the updated data*/
            $.ajax({
                url: "/Home/GetUsers",
                type: "GET",
                dataType: 'json',
                success: function (result) {
                    $("#usersTable tbody").empty();
                    // Loop through the data and append each row to the table
                    result.forEach(function (Data) {
                        var row = "<tr data-toggle='modal' data-target='#service-modal'>";
                        row += "<td>" + Data.idUser + "</td>";
                        row += "<td>" + Data.FirstName + "</td>";
                        row += "<td>" + Data.LastName + "</td>";
                        row += "<td>" + Data.Email + "</td>";
                        /*row += "<td>" + Data.Email_Notification + "</td>";*/
                        row += "<td>";
                        if (Data.Email_Notification == true) {
                            row += "<button onclick='setNotification(\"" + Data.idUser + "\")' class='user-button btn-green' id='btnSet' data-bs-toggle='tooltip' data-bs-placement='top' title='Set Email On'>";
                            row += "<i class='bi bi-envelope-check-fill'></i>";
                            row += "</button>";
                        } else {
                            row += "<button onclick='setNotification(\"" + Data.idUser + "\")' class='user-button btn-red' id='btnSet' data-bs-toggle='tooltip' data-bs-placement='top' title='Set Email Off'>";
                            row += "<i class='bi bi-envelope-check-fill'></i>";
                            row += "</button>";
                        }
                        row += "<button onclick='deleteUser(\"" + Data.idUser + "\")' class='user-button' id='btnSet' data-bs-toggle='tooltip' data-bs-placement='top' title='Delete'>";
                        row += "<i class='bi bi-trash3-fill'></i>";
                        row += "</button>";
                        row += "</td></tr>";
                        $("#usersTable tbody").append(row);
                    });
                },
                error: function () {
                    alert("Failed to refresh users.");
                }
            });
        }

            
    </script>
</body>

