@model LoginAndRegisterASPMVC5.Models.Service

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LogDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLog)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLog)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
