@model IEnumerable<LoginAndRegisterASPMVC5.Models.Service>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LogDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEventLog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HostName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LogDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEventLog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HostName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServiceName }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServiceName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceName })
        </td>
    </tr>
}

</table>
